.display-none {
  display: none;
}

.main-section {
  background-color: #086248;
  border: 5px double #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.main-sectionC {
  background-color: #086248;
  border: 5px double #fff;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
}

#scoreGrid {
  margin-top: 20px;
}

.inningsRow {
  justify-content: center;
}

.scoreRow {
  justify-content: center;
}

.inning {
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px black;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.score {
  background-color: #086248;
  border: 5px double #fff;
  text-align: center;
  color: #fff;
}

.scoreC {
  background-color: #086248;
  border: 5px double #fff;
  padding: 4px;
  text-align: center;
  box-shadow: -1px 1px 3px black;
}

.runs,
.runsC {
  color: #fff;
  background-color: #086248;
  border: 5px double #fff;
  text-align: center;
}

.update-score {
  width: 80%;
}

.ticker {
  border: 2px solid #fff;
  background-color: lightblue;
  margin-top: 10px;
}

.info {
  color: #fff;
  text-shadow: 1px 1px 3px black;
}

.team {
  text-shadow: 1px 1px 3px black;
  text-align: right;
  color: #fff;
}

#message {
}

.comments {
  color: #fff;
  display: block;
  float: left;
}
.missing {
  display: none;
}

#tick {
  margin-right: -5000px;
}

#outer {
  width: 3000px;
  height: 25px;
  overflow: hidden;
  margin-top: 15px;
}

span.comments {
  margin-right: 400px;
}

#support,
#commentName,
#commentComment {
  margin-top: 20px;
  margin-bottom: 10px;
}

#commentName,
#commentComment {
  color: #fff;
}

#coachUpdates {
  margin-top: 8px;
  background-color: #cccccc;
  border-radius: 8px;
  padding: 5px;
}

#changeDate,
#fixGame,
#calendar {
  margin-top: 3px;
  margin-right: 3px;
}

#endGame {
  text-shadow: 1px 1px 3px black;
  color: #fff;
  border: 1px #fff solid;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* margin-bottom: 5px; */
  padding-bottom: 8px;
}

#alert {
  display: none;
  margin-bottom: 0;
  margin: auto;
}
